.movie-container {
  padding: 20px;
  background-color: #f4f6f8;
  min-height: 100vh;
}

.movie-container h1 {
  text-align: center;
  margin-bottom: 30px;
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.movie-card {
  background: white;
  border-radius: 12px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.movie-img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
}

.movie-card h3 {
  margin: 15px 0;
}

.movie-card button {
  background-color: #0d6efd;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.movie-card button:hover {
  background-color: #084298;
}
